  <% if current_user %>
    <div class="jumbotron">
      <h2>Welcome <%= current_user.email %></h3>
  <% else %>
    <div class="jumbotron">
      <h2>Welcome to Cycle Hub's Bicycle Renting App!</h2>
  <% end %>
  <p>🚲 You'll love managing your Cycling with our application 🚲</p>
  </div>


  <div class="row">
    <div class="plans clearfix">
      <div class="col-lg-3 col-lg-offset-3 plan">
        <h2>Professional Racing</h2>
          <div class="features">
            <ul>
              <li>Unrivalled brands</li>
              <li>Latest designs</li>
              <li>Location ordering</li>
            </ul>
          </div>
        <%= link_to new_user_registration_path, class: 'btn btn-danger sign-up' do %><i class="glyphicon glyphicon-ok"></i>Professional Bikes <% end %>
      </div>
        
      <div class="col-lg-3 plan">
        <h2>Recreational Cycling</h2>
          <div class="features">
            <ul>
              <li>Unlimited range</li>
              <li>Flexible designs</li>
              <li>Access anywhere</li>
            </ul>
          </div>
          <%= link_to new_user_registration_path, class: 'btn btn-primary sign-up' do %><i class="glyphicon glyphicon-ok"></i>Recreational Bikes <% end %>
        </div>
      </div>
    </div>
    

