// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.col-1, .col-2, .col-3 {
    float: left;
    font-size: .8em;
}

.col-1 {
    width: 45%;
    padding: 0 5% 0 2.5%;
}

.col-2, .col-3 {
    width: 27.5%;
    padding: 0 2.5%;
}